intermediates
generated
.idea/workspace.xml
.gradle
app_2048-debug-unaligned.apk
app_2048-release-unaligned.apk
lint-results-release-fatal.html
lint-results-release-fatal.xml
manifest-merger-release-report.txt
app_2048/manifest-merger-release-report.txt

app_2048/build/outputs/lint-results-release-fatal.xml

app_2048/build/outputs/apk/app_2048-release-unaligned.apk

app_2048/build/outputs/lint-results-release-fatal.html

app_2048/build/outputs/apk/app_2048-release-unaligned.apk

app_2048/build/outputs/lint-results-release-fatal.html

app_2048/build/outputs/lint-results-release-fatal.xml

app_2048/manifest-merger-release-report.txt

baseGameUtils/build/outputs/aar/baseGameUtils-debug.aar

baseGameUtils/build/outputs/aar/baseGameUtils-release.aar

app_2048/build/outputs/apk/manifest-merger-debug-report.txt
