intermediates
generated
.gradle
app_2048-debug-unaligned.apk
app_2048-release-unaligned.apk
lint-results-release-fatal.html
lint-results-release-fatal.xml
manifest-merger-release-report.txt
app_2048/manifest-merger-release-report.txt

app_2048/build/outputs/apk/app_2048-debug.apk
app_2048/app_2048-release.apk

app_2048/build
baseGameUtils/build

app_2048/manifest-merger-release-report.txt

app_2048/src/main/res/values/ids.xml
app_2048/src/main/res/xml/app_tracker.xml

.idea/libraries
.idea/workspace.xml
.idea/dictionaries/Tyler.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/runConfigurations.xml

App_2048.iml
app_2048/app_2048.iml
baseGameUtils/baseGameUtils.iml

local.properties
*.apk
keystore_2048_debug
